ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid turquoise;
  background-color: deeppink;
  border-radius: 4px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration-style: solid;
  transition: 0.2s;
}

li a:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 4px #27ae60;
}

.Home,
.Contact,
.Tentang,
.About,
{
  background-color: lightpink;
  border: solid 1px lightpink;
  padding: 50px;
  display: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 6px;
  box-shadow: 1px 1px 6px #3498db;
}

.active {
  font-weight: bolder;
}

.float {
  clear: both;
}